<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<%= link_to '新しいブログを投稿する', new_blog_path %>
<br>
<br>

<table>
  <thead>
    <tr>
      <td>ブログID</td>
      <td>ブログタイトル</td>
      <td>ブログ内容</td>
      <td>ブログ更新日</td>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to '詳細', blog %></td>
        <td><%= link_to '編集', edit_blog_path(blog) %></td>
        <td><%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


