<h1>New Blog</h1>

<%= form_with(model:@blog, local: true, url: "./confirm" ) do |form|%>

  <%= form.label :title %>
  <%= form.text_field :title %>
  
  <%= form.label :content %>
  <%= form.text_field :content %>

  <br>
  <%= form.submit%>


<% end %>



 <%#= render 'form', blog: @blog %>

<%= link_to 'Back', blogs_path %>
